body {
  font-size: .875rem;
}

.inline-pre {
    font-size: 87.5%;
  font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  padding: 72px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
}

@media (min-width: 768px) {
  .sidebar {
    padding-top: 48px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */

  }
  .sidebar-sticky {
    height: calc(100vh - 48px);
    position: relative;
    top: 0;
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }
}

.sidebar .metainfo {
}
.sidebar .metainfo pre {
  margin: 0;
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

[role="main"] {
  padding-top: 0px;
}

@media (min-width: 768px) {
  [role="main"] {
    padding-top: 48px;
  }
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.experiment pre {
  margin: 0;
  padding: 0;
}

.experiment dt {
  background-color:#F4F4F4;
  border: 1px solid #CCCCCC;
  border-left: none;
  border-right: none;
  margin: 0 15px;
  padding: 0 15px;

  display:block;
  width:100%;
}

.experiment dt a {
  margin-left: 1em;
  font-weight: normal;
}

.experiment dd {
  display:block;

  margin: 0 15px;
  padding: 0 15px;
  width:100%;
}

.experiment textarea {
    font-size: 87.5%;
}

.experiment pre {
  display: flex;
  white-space: pre-wrap;
  min-height: 18px;
}

.experiment td, .experiment th {
  padding: 0 15px;
}

.experiment table {
  margin-top: 0px;
}
.experiment th h5 {
  font-size: 18px;
  line-height: 36px;
  margin: 0;
}
.experiment th a {
  line-height: 36px;
}

.experiment th div {
    vertical-align:middle;
}

.experiment .table-striped thead tr{
    background-color:#F4F4F4;
}
.experiment .table-striped tbody tr:nth-child(odd){
    background-color:#FFFFFF;
}
.experiment .table-striped tbody tr:nth-child(even){
    background-color:#F4F4F4;
}

