.list-group-header {
  font-size: .875rem;
  padding: .5rem 1rem;
}

.list-group.list-group-root {
  padding: 0;
  overflow: hidden;
}

.list-group.list-group-root .list-group {
  margin-bottom: 0;
}

.list-group.list-group-root .list-group-item {
  border-radius: 0;
  border-width: 1px 0 0 0;
  padding: .5rem 1rem;
}

.list-group.list-group-root > .list-group-item:first-child {
  border-top-width: 0;
}

.list-group.list-group-root > .list-group > .list-group-item {
  padding-left: 1rem;
}

.list-group.list-group-root > .list-group > .list-group > .list-group-item {
  padding-left: 2rem;
}

.list-group-item .glyphicon {
  margin-right: 5px;
}
